In [ ]:
1. Which of the following will raise a value error in python? 
int(3.2)

In [ ]:
2. What will be the output of round(3.567)? 
C) 4

In [ ]:
3. How is the function pow(a,b,c) evaluated in python? 
B) (a**b)%c

In [ ]:
4. What will be the output of print(type(type(int))) in python 3? 
A) <class ‘type’>

In [ ]:
5. What will be the output of ord(chr(65))? 
C) 65

In [ ]:
6. What is called when a function is defined inside a class? 
D) Method

In [ ]:
7. What will be the output of all([1, 0, 5 ,7])? 
B) False

In [ ]:
8. Is the output of the function abs() the same as that of the function math.fabs()? 
B) Sometimes

In [ ]:
9. Select all correct float numbers in python? 
A) -68.7e100 B) 42e3 
C) 4.2038 D) 3.0

In [ ]:
10. Which of the following is(are) correct statement(s) in python? 
A) You can pass positional arguments in any order. 
B) You can pass keyword arguments in any order. 
C) You can call a function with positional and keyword arguments.

11. Write a python function print pyramid of stars. Level of the pyramid should be taken as an input from the 
user. E.g. 
Input = 5

In [3]:
def print_pyramid(level):
    for i in range(1, level+1):
        print(" "*(level-i) + "* "*(i))

In [4]:
 print_pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
12. Write a python function print Hourglass pattern. 
E.g. 
Input = 5

In [5]:
def print_hourglass(size):
    for i in range(size, 0, -1):
        print(" "*(size-i) + "* "*(i))
    for i in range(2, size+1):
        print(" "*(size-i) + "* "*(i))

In [6]:
print_hourglass(5)

* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
13. Write a python function to print Pascal’s Triangle. The number of levels in the triangle must be taken as input 
by the user. E.g. 
Input = 5

In [7]:
def print_pascal_triangle(levels):
    triangle = [[1]]
    for i in range(1, levels):
        row = [1]
        for j in range(1, i):
            row.append(triangle[i-1][j-1] + triangle[i-1][j])
        row.append(1)
        triangle.append(row)

    max_val = triangle[-1][-1]
    digits = len(str(max_val))

    for row in triangle:
        row_str = ""
        for val in row:
            val_str = str(val).center(digits, " ")
            row_str += val_str + " "
        print(row_str.center(levels*digits, " "))

In [8]:
print_pascal_triangle(5)

  1
 1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
14. Write a python function to print Diamond Shaped Pattern shown below. Function must take integer input 
which represents the number of stars in the middle most line. E.g.: 
Input = 5

In [9]:
def print_diamond(num_stars):
    # Upper half of diamond
    for i in range(num_stars):
        # Spaces before stars
        print(" "*(num_stars-i-1), end="")
        # Stars
        print("*"*(2*i+1))

    # Lower half of diamond
    for i in range(num_stars-2, -1, -1):
        # Spaces before stars
        print(" "*(num_stars-i-1), end="")
        # Stars
        print("*"*(2*i+1))

In [10]:
print_diamond(5)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
15. Write a python function to print Diamond Shaped Character Pattern shown below. Function must take integer 
input within range 1 to 26, which represents the rank of the alphabet. E.g.: 
Input = 5

In [11]:
def print_diamond_char(rank):
    # Convert rank to uppercase letter
    letter = chr(rank + 64)

    # Upper half of diamond
    for i in range(rank):
        # Spaces before letters
        print(" "*(rank-i-1), end="")
        # Letters
        print(letter*(2*i+1))

    # Lower half of diamond
    for i in range(rank-2, -1, -1):
        # Spaces before letters
        print(" "*(rank-i-1), end="")
        # Letters
        print(letter*(2*i+1))

In [12]:
print_diamond_char(5)

    E
   EEE
  EEEEE
 EEEEEEE
EEEEEEEEE
 EEEEEEE
  EEEEE
   EEE
    E